
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">

    <app-big-card photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/AD72115B9CDAE873B2234BD0908CEF7B45A2D9AD9C66C699239B46E582F70A8B/scale?width=1200&aspectRatio=1.78&format=jpeg"
    title="Morre Homem de Ferro!"
    id="1"
    description="Em novo filme dos studios Marvel Homem de Ferro morre numa luta contra Thano">

    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
    id="2" photoCover="https://t2.tudocdn.net/553407?w=1920" cardTitle="Nova série disney-plus"
    ></app-small-card>
    <app-small-card
    id="3"
    photoCover="https://d2d7ho1ae66ldi.cloudfront.net/ArquivoNoticias/6f839f98-ffba-11ed-aa6e-9587410378a2/chrome_2023-05-31_10-50-44.jpg" cardTitle="Você já conhece os eventos canonicos?"></app-small-card>
    <app-small-card
    id="4"
    photoCover="https://www.rbsdirect.com.br/filestore/2/1/1/9/5/7/4_590ca9f9ba60013/4759112_5d3e4b085059504.jpg?w=700" cardTitle="Flash é enorme fracasso nos cinemas"></app-small-card>

  </div>
</div>
