<div class="conteiner__big-card">
  <div class="big-card__photo">
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/AD72115B9CDAE873B2234BD0908CEF7B45A2D9AD9C66C699239B46E582F70A8B/scale?width=1200&aspectRatio=1.78&format=jpeg"
      alt="" srcset="" height="200px" >
  </div>
  <div class="big-card__title">
    <h1>
     <a href="#">Saiu a nova versão do meu ovo </a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio ad, officia debitis autem vitae eveniet modi ea praesentium! Laboriosam consequuntur inventore atque repudiandae suscipit similique neque fugiat veritatis ipsa doloremque?
      </a>
    </p>
  </div>
</div>
